/*** Main page ***/
body, html {
    background: #252525!important;
    background-color: #252525!important;
    color: #e8e8e8!important;
}
.footerInner  {
	background: #1b1b1b!important;
	border-color: #333!important;
}
.cr-expo-banner, .message-container {
    display: none;
}
.template_skin_leaderboard {
    height: 0px;
    width: 0px;
}
#template_container.template-container {
    padding: 10px;
    background: #252525;
    width: 960px;
}
#footer_menu {
    background-color: #1b1b1b!important;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
}
img {
    border: none;
}
#template_body{
    background: #1b1b1b!important;
    color: #888
}
a{
    color: #df6300
}

.welcome-block h1 a, .welcome-title-list h1 a{
    color: #df6300;
    border-bottom: 1px solid #252525!important;
}
h1{
    border-bottom: 1px solid #252525!important;
}
.welcome-crnews-item, .welcome-news-item {
    margin: 10px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #252525!important;
}
.welcome-crnews-title, .welcome-news-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #a0a0a0;
}
.welcome-simulcasts .welcome-simulcasts-collection a {
    font-size: 14px;
    font-weight: 700;
    color: #a0a0a0;
}
.welcome-simulcasts .welcome-simulcasts-episode {
    white-space: nowrap;
    display: block;
    color: #888;
    padding: 2px 0;
}
.welcome-crnews-mug img, .welcome-news-mug img {
    border: 1px solid #1b1b1b;
}
#welcome_left {
    float: left;
    width: 570px;
    padding: 0 20px 0 20px;
    margin-top: 20px;
    border-right: 1px solid #252525;
}
.new-template-body a.block-link, .old-template-body a.block-link, a.block-link {
    color: #a0a0a0;
    background: #252525;
}
#sidebar {
    border-bottom: 1px solid #252525!important;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.welcome-forum-category {
    margin-top: 4px;
    border-bottom: 1px solid #252525!important;
    margin-bottom: 6px;
    margin-right: 50px;
}
.welcome-pulse-box a {
    cursor: pointer;
    display: block;
    color: #888;
    padding: 3px 0;
}
.welcome-forum-category a {
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 700;
}
.welcome-countdown-details{
    color: #888;
    float: left;
    width: 190px; 
}
.welcome-countdown-name{
    color: #a0a0a0;
    float: left;
    width: 190px; 
}
.welcome-countdown-day{
    color: #BBB;
    border-bottom: 1px solid #252525!important;
    font-size: 18px;
}
.js-featured-show-link:hover,.container-shadow{
    background: #252525!important;
}

.welcome-pulse-title:hover{
    background: #252525!important
}
.show-all-simulcasts-button {
    display: block;
    margin-top: 20px;
    height: 44px;
    background: #252525;
    border: 1px solid #1b1b1b;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;
}
.show-all-simulcasts-button{
    border: 1px solid #252525;

}
.show-all-simulcasts-button:hover{
    border: 1px solid #171717;
    border-color: #171717

}
.site-header, #games_button{
    background: #1b1b1b;
}
.series{
    color: #a0a0a0!important;
}
.header-menubar{
    font-size: .8125rem;
    font-weight: 700;
    line-height: 1;
    color: #a0a0a0!important;
    transition: color .2s ease-out;
}
.welcome-media-mug img {
    display: block;
    width: 160px;
    height: 90px;
    background-color: #000;
    border: 1px solid #1b1b1b;
}
.name {
    font-weight: 100;
    color: #777!important;
    font-size: 90%;
}
.js-simulcast-episode-link:hover{
    background: #252525!important;
}
.welcome-block:hover,.welcome-crnews-item:hover,.welcome-block:hover,.welcome-simulcasts:hover{
    background: #1b1b1b!important;
}
.js-banner-slide:hover{
    background: 0!important;
}
.welcome-latest-videos:hover{
    background: 0;
}
.comment-more:hover{
    background: 0!important;
}
.welcome-countdown-items a:hover {
    text-decoration: none;
    background: #252525;
}
.welcome-pulse-box a:hover {
    text-decoration: none;
    background-color: #252525;
}
.welcome-latest-videos a:hover {
    text-decoration: none;
    background-color: #252525;
}
.header-menubar li a{
    color: #a0a0a0
}
#games_button{
    color: #a0a0a0!important
}
#logo_beta{
    border-bottom: 0!important
}
.header-search-form {
    align-items: stretch;
    -ms-grid-row-align: center;
    align-self: center;
    flex: 1 0 auto;
    border: .1rem solid #252525;
    height: 2.1rem;
    margin: 0 0 0 1.1rem;
    overflow: visible;
    padding: 0;
    line-height: normal;
    background: 0 0;
    border-radius: .1875rem;
}
.header-search-form:hover .header-searchbox-submit>svg{
    fill: #7f7977;
}
.header-searchbox-submit:hover .header-searchbox-submit>svg, .header-searchbox:focus~.header-searchbox-submit>svg {
    fill: #f78c25!important;
}

/* Outra Paginaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.showmedia-submenu{
    background: #1b1b1b!important
}
.white-wrapper,.guestbook-sort-bar{
    background: #1b1b1b!important
}
.comments .boxtitle {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 2px solid #252525;
    text-align: left;
}
#main_content{
    border-right: 2px solid #252525;
}
.guestbook-list {
    position: relative;
    margin-bottom: -8px;
    padding-top: 10px;
    border-top: 1px solid #252525;
}
.guestbook-sort-bar {
    border-top: 1px solid #252525;
    padding-top: 3px;
    background-color: #ebebeb;
}
.guestbook-spoiler-checkbox {
    margin-top: 4px;
    color: #df6300;
    margin-left: 16px;
}
.collection-carousel-arrow {
    width: 18px;
    height: 102px;
    display: block;
    position: absolute;
    top: 5px;
    background: url(https://iili.io/dqaUlI.png) no-repeat -40px 42px;
    z-index: 99;
}
textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #252525!important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: #666;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: solid;
    border-color: #1b1b1b!important;
    border-image: initial;
    padding: 2px;
}
.jqEasyCounterMsg{
    margin-right: 40px;
    color: #df6300!important;
}
::-webkit-input-placeholder {
    color: #0b0b0b;
}
input[name="submit_comment_btn"]{
    display: block;
    height: 44px;
    background: #252525;
    border: 1px solid #1b1b1b;
    margin-right: 5px;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    border-radius: 4px;
    text-shadow: none!important;
}
input[name="more_comments"]{
    display: block;
    background: #252525;
    border: 1px solid #1b1b1b;
    margin-right: 5px;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    text-shadow: none!important;
}
.new-template-body h3 {
    font-size: 13px;
    font-weight: 700;
    border-top: 2px solid #252525;
    padding: 10px 0 8px;
}
input[name="q"]{
    display: block;
    background: #252525;
    margin-right: 5px;
    color: #888;
    cursor: pointer;
    line-height: 44px;
    text-align: center;
    text-shadow: none!important;
}
.season-dropdown{
    background: #121212!important;
    border: 1px solid #303030;
}
.season-dropdown:hover{
    background: #121212!important;
    border: 1px solid #505050;
}
.landscape-element block-link cf titlefix js-featured-show-link{
    color: #AA0000;
    background: #252525;
}
.landscape-element{
    background: #1b1b1b!important;
}



/*widget fdp do krl q eu odeio pqp*/
.widget-base-bubble {
    position: absolute;
    border: 1px solid #1b1b1b;
    background: #252525;
    z-index: 1000001;
    padding: 10px;
}

.widget-base-bubble-arrow {
    position: absolute;
    top: 40px;
    right: 100%;
    width: 22px;
    height: 26px;
    background: url(https://iili.io/dqlRTu.png) no-repeat!important;
    background: 0 0;
}

.widget-media-bubble-desc {
    font-size: 12px;
    color: #aaa;
    margin-top: 4px;
    min-height: 30px;
    height: auto!important;
    height: 30px;
}

.widget-media-bubble-details h4 {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    color: #999;
}
.widget-media-bubble-details h3 {
    font-size: 12px;
    color: #aaa;
    font-weight: 400;
}
.widget-media-bubble-details h2 {
    color: #b1b1b1;
    font-weight: 700;
    font-size: 15px;
    margin-right: 50px;
}





































































